GOOGLE_API_KEY=tu_api_key_aqui
MONGODB_URI=tu_conexion_mongodb_atlas_aqui
MONGODB_DB_NAME=hazmat_gre
MONGODB_COLLECTION_NAME=gre_chunks
LANGCHAIN_API_KEY=tu_langsmith_key_aqui
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=Bomberos-HAZMAT-RAG
GITHUB_REPO_URL=https://github.com/tu-usuario/tu-repositorio
